.blog-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all .2s ease 0s;
  background-color: var(--color-lighter-grey);
  max-width: 800px;
}

.blog-card:hover {
  transform: translateY(-2px);
}

.category-card {
  max-width: 543px;
}

.category-content {
  bottom: 30px;
  left: 20px;
}

@media only screen and (min-width: 32em) {

  .category-content {
    top: 50px;
    left: 50px;
  }

}


.small-action-item:hover {
  border-bottom: none;
}

.main-banner-home {
  background-image: url("../../images/banner-bg-peach.svg");
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

.banner-text h1 {
  top: 200px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2.5rem;
}

.banner-text p {
  line-height: 1.2;
}

.banner-plant {
  transform: translateY(0px);
  max-width: 450px;
  margin: 0 auto;
}

.blue-line {
  max-width: 95px;
  height: 2px;
  background-color: var(--color-secondary);
  padding-right: .7rem;
  margin: .5rem .5rem 1.5rem 0;
}


@media only screen and (min-width: 38em) {

  .banner-plant {
    transform: translateY(20px);
  }

  .banner-text h1 {
    font-size: 2.6532rem;
    line-height: 1.3
  }

}

@media only screen and (min-width: 60em) {

  .banner-plant {
    transform: translateY(40px);
    max-width: 700px;
  }

  .banner-text h1 {
    font-size: 2.9rem;
  }

}

@media only screen and (min-width: 72em) {

  .banner-text h1 {
    font-size: 3.8rem;
  }

}
