:root {
  --color-primary: #0055a6;
  --color-primary-light: #454443;
  --color-secondary: #2b705e;
  --color-accent-orange: #dd715d;
  --color-neutral-grey: #f5f5f5;
  --font-primary: "Freight Text", georgia, serif;
  --font-secondary: "Futura", sans-serif;
}

html {
  font-family: var(--font-primary);
}
