:root {
  --color-primary: #454443;
  --color-primary-light: #7E7E7E;
  --color-secondary: #2B705E;
  --color-accent-orange: #DD715D;
  --color-accent-blue: #0055A6;
  --color-neutral-grey: #F5F5F5;

  --font-primary:;
  --font-secondary:;
}
