:root {
  --color-primary: #7ba57c;
  --color-primary-dark: #2b705e;
  --color-primary-light: #e1ebe2;
  --color-secondary: #0055a6;
  --color-accent-orange: #dd715d;
  --color-neutral-grey: #f5f5f5;
  --color-dark-grey: #454443;
  --font-primary: "Futura", sans-serif;
  --font-secondary: "Freight Text", georgia, serif;
}

html {
  font-family: var(--font-primary);
}
