.current-page {
  color: var(--color-primary-dark);
  border-bottom: 0;
  transform: translateY(-2px);
}

.current-page:hover {
  color: var(--color-primary-dark);
  border-bottom: 0;
  transform: translateY(-2px);
}
