input, textarea {
  width: 30%;
  color: var(--color-primary: #7ba57c);
  border: none;
}

.current-page {
  color: var(--color-primary-dark);
  border-bottom: 0;
  transform: translateY(-2px);
}

.current-page:hover {
  color: var(--color-primary-dark);
  border-bottom: 0;
  transform: translateY(-2px);
}

.product-link {
  color: var(--color-grey);
  transition: all .2s ease 0s;
}

.product-link:hover {
  color: var(--color-primary-dark);
  border-bottom: 0;
  transform: translateY(-2px);
  display: inline-block;
}
